.section-card__pokemon{
  margin: 30px 0;
}

.card-pokemon {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 400px;
  max-width: 768px;

  &__img {
    width: 300px;
  }
  &__name {
    font-size: 1.2rem;
    color: black;
  }
}

@media(min-width: 768px){
  .card-pokemon__img {
    width: 350px;
  }
}