.infopoke__img {
  height                       : 450px;
  // background                : rgb(121, 121, 121);
  border-bottom-left-radius    : 60px;
  border-bottom-right-radius   : 60px;
  display                      : flex;
  justify-content              : space-between;
  align-items                  : center;
  flex-direction               : column;
  position                     : relative;
  max-width                    : 768px;
  width                        : 90%;
  margin                       : 0 auto -60px auto;
  padding-top                  : 60px;

  img {
    width: 250px;
  }

  .infopoke__list {
    display        : flex;
    flex-direction : column;
    height         : 100%;
    align-items    : center;
    justify-content: center;
    font-weight    : 600;

    .tipe__color {
      margin       : 5px 0;
      border-radius: 5px;
      background   : coral;
      padding      : 5px 10px;
    }

    span {
      margin    : 5px 0;
      color     : black;
      font-size : 1.2rem;
      text-align: center;
    }

    .tipo {
      padding      : 5px 15px;
      border       : 2px solid black;
      border-radius: 10px;
    }
  }
}


.infopoke__details {
  padding-top               : 120px;
  background                : linear-gradient(135deg, rgba(147, 147, 147, 1) 0%, rgba(46, 54, 56, 0.6615021008403361) 29%, rgba(21, 29, 32, 1) 100%);
  max-width                 : 768px;
  width                     : 90%;
  margin                    : 0 auto;
  border-bottom-left-radius : 50px;
  border-bottom-right-radius: 50px;
  padding-bottom            : 30px;
  text-align                : center;
  color                     : rgb(163, 229, 255);

  p {
    margin: 5px 10px;
  }
}

.infopoke__evolutions {
  max-width: 768px;
  width    : 90%;
  margin   : 0 auto;

  span {
    color      : rgb(163, 229, 255);
    font-size  : 1.2rem;
    text-align : center;
    font-weight: 600;
  }

  h2 {
    text-align: center;
  }

  .infopoke__evolutions--details {
    background               : linear-gradient(135deg, rgba(147, 147, 147, 1) 0%, rgba(46, 54, 56, 0.6615021008403361) 29%, rgba(21, 29, 32, 1) 100%);
    display                  : flex;
    flex-direction           : column;
    align-items              : center;
    justify-content          : center;
    border-top-right-radius  : 50px;
    border-bottom-left-radius: 50px;
    margin-bottom            : 50px;

    .infopoke__evolutions--img {
      img {
        width        : 200px;
        border       : 5px solid;
        border-color : rgba(160, 149, 0, 0.9);
        border-radius: 50%;
        padding      : 20px;
      }

      display        : flex;
      flex-direction : column;
      justify-content: center;
      align-items    : center;
      margin         : 30px 0;

      .infopoke__types {
        display       : flex;
        flex-direction: column;
        padding       : 20px 0;
      }
    }
  }
}

@media(min-width: 768px) {
  .infopoke__evolutions--details {
    display              : grid !important;
    grid-template-columns: repeat(3, 1fr);

    .infopoke__evolutions--img {
      img {
        width: 150px !important;
      }
    }
  }
}