.menu-sider {
  height     : 60px;
  display    : flex;
  background : #727272;
  align-items: center;
  position   : fixed;
  z-index    : 1;
  width      : 100%;

  i {
    padding  : 10px;
    font-size: 1.5rem;
  }

  &__nav {
    width     : 100%;
    max-width : 1300px;
    text-align: end;
    margin    : 0 auto;
  }

  &__ul {
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: flex-end;
  }

  &__li {
    list-style: none;
  }

  a {
    text-decoration: none;
    margin         : 0 20px;
    font-size      : 1.5rem;
    color          : black;
    border         : 2px solid #3667B0;
    padding        : 5px 10px;
    border-radius  : 5px;
    background: #FFCE4D;
  }
}

.icono-movil {
  display: none;
}

@media(max-width: 767px) {
  .menu-sider__nav {
    position       : absolute;
    margin-top     : 60px;
    height         : 100vh;
    top            : 0;
    /* left        : 0px; */
    bottom         : 0;
    background     : rgba(44, 44, 44, .7);
    right          : 770px;
    z-index        : 1;
    display        : flex;
    justify-content: center;
    align-items    : flex-start;
    transition     : 1s ease-in-out;
  }

  .menu-sider__nav-active {
    position       : fixed;
    margin-top     : 60px;
    height         : 100vh;
    top            : 0;
    /* left        : 0px; */
    bottom         : 0;
    background     : rgba(44, 44, 44, .9);
    right          : 0;
    z-index        : 1;
    display        : flex;
    justify-content: center;
    align-items    : flex-start;
    transition     : .6s ease;
  }

  .menu-sider__ul {
    margin: 30px 0;
    display: flex;
    flex-direction: column;

    li{
      margin: 30px 0;
    }
  }

  .icono-movil {
    display: block;
    color: white;
  }
}