.pokelist__item {
  display        : flex;
  box-shadow     : 2px 5px 15px -5px;
  border-radius  : 10px;
  justify-content: space-between;
  align-items    : center;
  background-color: white;

  img {
    width: 150px;
  }

  .pokemon__description {
    display       : flex;
    flex-direction: column;
    margin-left   : 20px;
  }
}

// queryes
@media(min-width: 768px) {
  .pokelist__item {
    img {
      width: 100px;
    }
  }
}