.form__search {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
}

.form__search--input-container {
  margin: 20px 10px;

  input {
    width: 90%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    font-size: 1rem;
    outline: 0;
  }
  input:focus{
    background-color: rgb(181, 250, 246);
    transition: .3s ease-in-out;
    border: 2px solid rgb(184, 209, 247);
  }

  button {
    margin       : 30px 20px;
    font-size    : 1.5rem;
    border-radius: 10px;
    border       : 4px solid #3667B0;
    background   : #FFCE4D;
    color        : black;
    outline      : 0;
    cursor       : pointer;
    padding      : 5px 15px;
  }
}

.form__search--warning {
  background: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}