.pokelist-grid {
  display           : grid;
  grid-template-rows: repeat(4, 150px);
  width             : 90%;
  grid-gap          : 20px;
  margin            : 50px auto;
}

// queryes
@media(min-width: 768px) {
  .pokelist-grid {
    grid-template-columns: repeat(3, 1fr);
  grid-template-rows: none;
  }
}

@media(min-width: 1024px) {
  .pokelist-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}