@import './components/header';
@import './components/pokelist';
@import './components/pokecard';
@import './components/infopoke';
@import './components/spinner';
@import './components/pokesearch';
@import './components/cardsearch';
@import './components/menusider';

body {
  margin          : 0;
  font-family     : 'Montserrat', sans-serif;
  background-color: rgb(207, 207, 207);
}

.container {
  max-width: 1300px;
  margin   : 0 auto;
}

.button__navigation {
  max-width : 768px;
  margin    : 0 auto;
  text-align: center;

  button {
    margin       : 30px 20px;
    font-size    : 1.5rem;
    border-radius: 10px;
    border       : 4px solid #3667B0;
    background   : #FFCE4D;
    color        : black;
    outline      : 0;
    cursor       : pointer;
    padding      : 5px 15px;
  }
}

.btn-disabled {
  background: grey !important;
  color     : black !important;
  border    : 2px solid grey !important;
  cursor    : not-allowed !important;
}

/* colors */
.normal {
  background-color: #AAB09F;
}

.fire {
  background-color: #EA7A3C;
}

.water {
  background-color: #539AE2;
}

.electric {
  background-color: #E5C531;
}

.grass {
  background-color: #71C558;
}

.ice {
  background-color: #70CBD4;
}

.fighting {
  background-color: #CB5F48;
}

.poison {
  background-color: #B468B7;
}

.ground {
  background-color: #CC9F4F;
}

.flying {
  background-color: #7DA6DE;
}

.psychic {
  background-color: #E5709B;
}

.bug {
  background-color: #94BC4A;
}

.rock {
  background-color: #B2A061;
}

.ghost {
  background-color: #846AB6;
}

.dragon {
  background-color: #6A7BAF;
}

.dark {
  background-color: #736C75;
}

.steel {
  background-color: #89A1B0;
}

.fairy {
  background-color: #E397D1;
}